.task {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-inline: 10px;
    /* transition: all 0.3s ease; */
}
.task-header {
      display: flex;
    justify-content: space-between;
    align-items: center;
}
.task-action {
    margin-left: auto;
}
.task:focus {
    background-color: #724f4ff1;
}

.task-list {
    margin-bottom: 20px;
}
.btn-finish-task {
    border: none;
    background-color: transparent;
}

.img-statut {
    background-color: transparent;
}